ADMIN_KEY=admin_key # Choose secret key for admin access
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root # Replace with your local MySQL user.
DB_PASSWORD=
DB_NAME=class14
DB_CONNECTION_LIMIT=10 # Connection timeout in milliseconds.
DB_CONNECT_TIMEOUT=10000
